#root {
  padding-top: 20px;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
  text-align: center;
}
.table-cell {
  width: 25%;
}
.table-filter {
  border: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart {
  margin-top: 50px;
}